# Chặn thư viện của Server và Client
node_modules/
server/node_modules/
spacar-project/node_modules/

# Chặn các file rác hệ thống và build
.DS_Store
dist/
build/
.env

# Chặn file log lỗi
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 03-04